<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <!--Казино от Прохвоста-->
            <img src="/images/logo2.svg" alt="Казино от Прохвоста" width="230">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/rating/123">Лучшие казино по вывода средств</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Рейтинг казино
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for casino in menu.casinos %}
                            <li><a class="dropdown-item" href="/casino/{{ casino.name }}">{{ casino.name }} Casino</a></li>
                            <li><hr class="dropdown-divider"></li>
                        {% endfor %}
                    </ul>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('admin_index') }}">
                            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
