<nav class="rating-block">

    {% for i, casino in menu.casinos %}
        <div class="bg-dark rating-{% if i == 0 %}first{% else %}casino{% endif %}">
            <a href="/casino/{{ casino.name }}"><img src="{{ casino.imgRating }}" alt="{{ casino.name | capitalize }} Casino"></a>
            <a href="/casino/{{ casino.name }}">{{ casino.name | capitalize }} Casino</a>
        </div>
    {% endfor %}
<!--
    <div class="bg-dark rating-first">
        <a href="/casino/vavada.php"><img src="/images/rating/vavada-1-150x120.png.webp" alt="Vavada Casino"></a>
        <a href="/casino/vavada.php">Vavada Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/pokermatch.php"><img src="/images/rating/pokermatch_140x70.jpg" alt="Pokermatch Casino"></a>
        <a href="/casino/pokermatch.php">Pokermatch Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/energywin.php"><img src="/images/rating/energywin-casino-logo-140x70.jpg" alt="EnergyWin Casino"></a>
        <a href="/casino/energywin.php">Energy in Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/jvspin.php"><img src="/images/rating/jvcasino.jpg" alt="JVSpin Casino"></a>
        <a href="/casino/jvspin.php">JVSpin Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/casinoin.php"><img src="/images/rating/casinoin.jpg" alt="Casinoin"></a>
        <a href="/casino/casinoin.php">Casinoin</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/slotum.php"><img src="/images/rating/slotum-140x70.png.webp" alt="Slotum Casino"></a>
        <a href="/casino/slotum.php">Slotum Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/pin_up.php"><img src="/images/rating/pin140.jpg" alt="Pin-Up Casino"></a>
        <a href="/casino/pin_up.php">Pin-Up Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/sol_casino.php"><img src="/images/rating/sol-140-70.jpg" alt="Sol Casino"></a>
        <a href="/casino/sol_casino.php">Sol Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/jet_casino.php"><img src="/images/rating/jet-casino.jpg" alt="Jet Casino"></a>
        <a href="/casino/jet_casino.php">Jet Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/fastpay.php"><img src="/images/rating/Fast-Pay-Casino-140x70.jpg.webp" alt="Fastpay Casino"></a>
        <a href="/casino/fastpay.php">Fastpay Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/parimatch.php"><img src="/images/rating/pari-match-140x70.jpg.webp" alt="Pari Match"></a>
        <a href="/casino/parimatch.php">PariMatch Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/rox.php"><img src="/images/rating/rox-140x70.jpg" alt="ROX Casino"></a>
        <a href="/casino/rox.php">ROX Casino</a>
    </div>
    -->
    <!--
        <div class="bg-dark rating-casino">
            <a href="/casino/riobet.php"><img src="/images/rating/riobet.jpg" alt="RioBet Casino"></a>
            <a href="/casino/riobet.php">RioBet Casino</a>
        </div>
    -->

    <!--
    <div class="bg-dark rating-casino">
        <a href="/casino/redstar.php"><img src="/images/rating/redstar_1.jpg" alt="RedSar Casino"></a>
        <a href="/casino/redstar.php">RedSar Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/marathonbet.php"><img src="/images/rating/marathonbet.jpg" alt="MarathonBet Casino"></a>
        <a href="/casino/marathonbet.php">MarathonBet Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/reel_casino.php"><img src="/images/rating/reel-emperor140-70.jpg" alt="Reel Emperor Casino"></a>
        <a href="/casino/reel_casino.php">Reel Emperor Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/joy_casino.php"><img src="/images/rating/joycasino-140x70.png.webp" alt="Joy Casino"></a>
        <a href="/casino/joy_casino.php">Joy Casino</a>
    </div>

    <div class="bg-dark rating-casino">
        <a href="/casino/casino-x.php"><img src="/images/rating/casino-x-140x70.png" alt="Casino-X"></a>
        <a href="/casino/casino-x.php">Casino-X</a>
    </div>
    -->
</nav>
