{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="margin-top: 20px">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 column-left">
            <img src="{{ casino.logo | raw }}" alt="{{ casino.name | upper }} Casino" class="casino-logo">
            {{ include('_parts/casino_table.html.twig') }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ include('_parts/casino_content1.html.twig') }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            {{ include('_parts/casino_right_column.html.twig') }}
        </div>

    </div> <!-- конец столбца row -->
</div> <!-- конец столбца container -->

<div class="container" style="margin-top: 20px">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ page.content2 | raw }}
        </div>

    </div> <!-- конец столбца row -->
</div> <!-- конец столбца container -->
{% endblock %}
