{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- начало столбца для контента -->

                {{ include('_parts/main/content1_main.html.twig') }}
            {{ page.content1 | raw }}
                {% for post in paginator.results %}
                    <article class="post">
                        <h2>
                            <a href="{{ path('blog_post', {slug: post.slug}) }}">
                                {{ post.title }}
                            </a>
                        </h2>

                        <p class="post-metadata">
                            <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
                            <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
                        </p>

                        <p>{{ post.summary }}</p>

                        {{ include('blog/_post_tags.html.twig') }}
                    </article>
                {% else %}
                    <div class="well">{{ 'post.no_posts_found'|trans }}</div>
                {% endfor %}

                {% if paginator.hasToPaginate %}
                    <div class="navigation text-center">
                        <ul class="pagination">
                            {% if paginator.hasPreviousPage %}
                                <li class="prev"><a href="{{ path('blog_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}</a></li>
                            {% else %}
                                <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span></li>
                            {% endif %}

                            {% for i in 1..paginator.lastPage %}
                                {% if i == paginator.currentPage %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                                {% else %}
                                    <li><a href="{{ path('blog_index_paginated', {page: i}) }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if paginator.hasNextPage %}
                                <li class="next"><a href="{{ path('blog_index_paginated', {page: paginator.nextPage}) }}" rel="next">{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></a></li>
                            {% else %}
                                <li class="next disabled"><span>{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></span></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

            </div> <!-- конец столбца для контента -->
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                {{ include('_parts/menu_column.html.twig') }}
            </div>
        </div> <!-- конец столбца row -->
    </div> <!-- конец столбца container -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- начало столбца для контента -->

                {{ page.content2 | raw }}
                {{ include('_parts/main/content2_main.html.twig') }}

            </div> <!-- конец столбца для контента -->
        </div> <!-- конец столбца row -->
    </div> <!-- конец столбца container -->
{% endblock %}
