{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 20px">
        <div class="row">

                <header style="margin-top: 20px">
                    <h1>{{ rating.name }}</h1>
                </header>

                {% for rating_casino in rating_casinos %}

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="rating-block">
                            <a href="/casino/{{ rating_casino.casino.name }}"><img src="{{ rating_casino.casino.img300 }}" alt="Казино {{ rating_casino.casino.name | upper }}" class="casino-logo"></a>
                            {% set casino = rating_casino.casino %}
                            {% set content %}
                                {% include '_parts/casino_table1.html.twig' %}
                            {% endset %}
                            {{ content }}
                            <div class="rating-link"><a href="{{ rating_casino.casino.LinkToPartner }}">Перейти на сайт {{ rating_casino.casino.name  }}</a></div>
                        </div>
                    </div>

                {% endfor %}


        </div> <!-- конец столбца row -->
    </div> <!-- конец столбца container -->

    <div class="container" style="margin-top: 20px">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ rating.content2 | raw }}
            </div>

        </div> <!-- конец столбца row -->
    </div> <!-- конец столбца container -->
{% endblock %}
