<main>
    <header style="margin-top: 20px">
        <h1>Рейтинг онлайн казино</h1>
    </header>


    <article>
        {% for casino in menu.casinos %}
            <div class="row main-block">
                <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                    <img src="{{ casino.img300 }}" alt="Казино {{ casino.name | upper }}">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 main-block-txt">
                    {{ casino.shortDescription }}
                    <a href="/casino/{{ casino.name }}">Обзор казино {{ casino.name | upper }}</a>
                </div>
            </div>
        {% endfor %}
    </article>

<!--
        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/vavada.jpg" alt="Казино VAVADA">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 main-block-txt">
                Для игроков из Украины и стран СНГ это казино можно считать одним из лучших, и оно уверено занимает высокое место в нашем рейтинге.
                <a href="/casino/vavada">Обзор казино VAVADA</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/pokermatch.jpg" alt="Казино Pokermatch Casino">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Мало кто знает об Pokermatch Casino, поскольку оно является частью покеррума Pokermatch, и в большей степени предназначено для того чтобы отвлечь любителей долгих покерных баталий.
                <a href="/casino/pokermatch">Обзор Pokermatch Casino</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/jvspin.jpg" alt="Казино JVSpin">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                За очень короткий срок казино JVSpin заслужило безупречную репутацию, которая держится на трех китах: надежность, честность и безопасность.
                <a href="/casino/jvspin">Обзор казино JVSpin</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/casinoin.jpg" alt="Казино Casinoin">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Онлайн-казино Casinoin - одно из популярных игровых заведений, которое привлекает внимание многообразием азартных игр.
                <a href="/casino/casinoin">Обзор казино Casinoin</a>
            </div>
        </div>


        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/slotum.jpg" alt="Казино Slotum">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Казино Slotum — это популярное онлайн казино, принадлежащее кипрской компании Direx Limited и осуществляющее игровую свою игровую деятельность по лицензии Кюрасао.
                <a href="/slotum.php">Обзор казино Slotum</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/fastpay.jpg" alt="Казино Fastpay">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Fastpay casino одно из казино, которое принадлежит бренду Direx N.V. и начало свою работу в 2018 году. Лицензию казино, как и многие другие, получило на Кюрасао.
                <a href="/casino/fastpay">Обзор казино Fastpay</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/jet_casino.jpg" alt="Казино Jet Casino">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Это современное и безопасное онлайн-казино, приоритетом для которого является защита данных игроков и высокое качество обслуживания клиентов.
                <a href="/casino/jet_casino">Обзор казино Jet Casino</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/parimatch.jpg" alt="Казино PariMatch">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                PariMatch Casino — часть крупной букмекерской компании, работающей более 25 лет. PariMatch Casino — часть крупной букмекерской компании, работающей более 25 лет.
                <a href="/casino/parimatch">Обзор PariMatch</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/rox-casino.jpg" alt="Казино ROX Casino">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                ROX Casino – онлайн-казино, работающее с 2016 года под лицензией Кюрасао. На сайте доступны только честные игры от ведущих разработчиков. Общее количество азартных развлечений свыше 2000.
                <a href="/casino/rox">Обзор ROX Casino</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/riobet-casino.jpg" alt="Казино RioBet">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                RioBet – онлайн-казино, предлагающее 70 бесплатных вращений уже после регистрации и 100% на счет после первого депозита. RioBet работает с 2014 года.
                <a href="/casino/riobet">Обзор казино RioBet</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/redstar.jpg" alt="Казино RedStar">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Казино RedStar работает с 2005 года по лицензии Кюрасао и предлагает свыше 3000 игр от крупнейших провайдеров. При регистрации доступно 1075 фриспинов.
                <a href="/casino/redstar">Обзор казино RedStar</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/reel_casino.jpg" alt="Казино Reel Emperor">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Онлайн-казино Reel Emperor – крупный проект, предлагающий услуги игрокам с 2013 года. Он открывает доступ к более чем 1000 игр от ведущих производителей.
                <a href="/casino/reel_casino">Обзор казино Reel Emperor</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/joycasino.jpg" alt="Казино Joy Casino">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Joy Casino появилось на рынке гемблинга в 2014 году, и достаточно неплохо себя зарекомендовало. На текущий момент это одно из самых крупных и раскрученных казино в онлайн гемблинге.
                <a href="/casino/joy_casino">Обзор казино Joy Casino</a>
            </div>
        </div>

        <div class="row main-block">
            <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                <img src="/images/300/casino-x.jpg" alt="Казино Casino-X">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-md-4 col-sm-4 main-block-txt">
                Casino-X встречает клиентов бонусом в 200% от суммы пополнения при внесении на счет от 1000 рублей. При регистрации начисляется 200 фриспинов.
                <a href="/casino/casino-x">Обзор казино Casino-X</a>
            </div>
        </div>
-->


</main>
