<main>

    <article>
        {% for casino in menu.casinos %}
            <div class="row main-block">
                <div class="col-lg-4 col-md-4 col-sm-4 main-block-img">
                    <img src="{{ casino.img300 }}" alt="Казино {{ casino.name | upper }}">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 main-block-txt">
                    {{ casino.shortDescription }}
                    <a href="/casino/{{ casino.name }}">Обзор казино {{ casino.name | upper }}</a>
                </div>
            </div>
        {% endfor %}
    </article>

</main>
