{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <!-- начало столбца для контента -->
                <main>
                    <header style="margin-top: 20px">
                        <h1>Login</h1>
                    </header>
                    <article>
                        <div class="row main-block">
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path('login') }}" method="post">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password"/>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit">login</button>
                        </form>
                        </div>
                    </article>
                </main>

            </div> <!-- конец столбца для контента -->
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                {{ include('_parts/menu_column.html.twig') }}
            </div>
        </div> <!-- конец столбца row -->
    </div> <!-- конец столбца container -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- начало столбца для контента -->

            </div> <!-- конец столбца для контента -->
        </div> <!-- конец столбца row -->
    </div> <!-- конец столбца container -->

{% endblock %}
